@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    height: 100vh;
    max-width: 850px;
    margin: auto;
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;

}

.right {
    display: flex;
    flex-wrap: wrap;
}
img {
    height: 300px;
    width: 100%;
    min-width: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 25px;
    border-bottom: 1px solid #ffbe0b;
}

header a:hover {
    color: #FB5607;
}

.logo a:hover {
    color: #ffbe0b;
}

.navbar {
    display: flex;
    padding: 0;
    gap: 50px;
}

.content {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0 0;
    margin: 0 90px;
}

.content a {
    color: #ffbe0b;
}

.content a:hover {
    color: #FB5607;
}

h2 {
    padding: 0;
    margin: 0;
}


footer {
    margin-top: auto;
    padding: 10px;
    color: #6d6875;
    text-align: right;
}

footer a {
    color: #ffbe0b;
}

footer a:hover {
    color: #FB5607;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: white;
}